extends layout

block content
  h1= title

  a(href="/books/new", class="btn btn-primary") Create New Book

  a(href="/books/update", class="btn btn-primary")                                       Update Book


  include books







