extends layout

block content
    body

    form(action="/books/:id", method="PUT")
        input(type="hidden", name="_method", value="DELETE")
        h1 Book Detail

        ul
            li
                label Title:
                input(type="text", name="title", value=book.dataValues.title)
            li
                label Author:
                input(type="text", name="author", value=book.dataValues.author)
            li
                label Genre:
                input(type="text", name="genre", value=book.dataValues.genre)
            li
                label Year:
                input(type="number", name="year", value=book.dataValues.year)

        button(type="submit", name="action", value="update") Update
        button(type="submit", name="action", value="delete") Delete Book
        button(type="reset") Cancel

